#scoreboard {
	display: flex;
	flex-direction: column;
}

.user-score {
	display: flex;
	text-align: center;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.user-score:nth-child(odd) > .user-info {
	background: var(--dk-maroon);
	padding: 0.5rem 1rem;
	flex: 1;
}

.user-score:nth-child(even) > .user-info {
	background: var(--lt-maroon);
	padding: 0.5rem 1rem;
	flex: 1;
}